@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #cc9837;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #710e1d;
}

span {
    font-size: 0.9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: #000000;
}

a {
    text-decoration: none;
}

nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px #00000026;
}

nav img {
    width: 150px;
}

nav .navigation-bar {
    display: flex;
}

#menu-btn {
    cursor: pointer;
    display: none;
}

#menu-close-btn {
    display: none;
}

nav .navigation-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation-bar ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation-bar ul li a {
    text-decoration: none;
    color: #710e1d;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation-bar ul li a:hover,
nav .navigation-bar ul li a.active {
    color: #cc9837;
}

#home-header {
    background-image: linear-gradient(#0905364d, #05042eb3), url('/images//background/background-home.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home-header h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home-header p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home-header .btn {
    margin-top: 30px;
}

#home-header button {
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px 2px 0px 2px;
    border: none;
    cursor: pointer;
}

#home-header button.crimson {
    color: #fff;
    background-color: #710e1d;
    transition: 0.3s ease;
}

#home-header button.crimson:hover {
    background-color: #cc9837;
}

#home-header button.aureate {
    color: #fff;
    background-color: #cc9837;
    transition: 0.3s ease;
}

#home-header button.aureate:hover {
    color: #710e1d;
    background-color: #fff;
}

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features p {
    color: #2d2d2d;
    font-weight: 400;
}

#features .features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .features-box {
    text-align: start;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 11px;
    box-shadow: rgb(204, 204, 204) 0px 5px 10px 0px;
}

#features .features-box i {
    font-size: 2.3rem;
    color: #710e1d;
}

#features .features-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    padding: 13px 0 7px 0;
}

#features .features-box p {
    font-size: 1rem;
    font-weight: 400;
    color: #2d2d2d;
}

#courses .course-list {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#courses .course-list p {
    color: #2d2d2d;
    font-weight: 400;
}

#courses .courses .course-details .instructor {
    font-size: 0.9rem;
    color: #757373;
}

#courses .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#courses .courses {
    text-align: start;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: rgb(204, 204, 204) 0px 5px 10px 0px;
    padding-bottom: 10px;
}

#courses .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
}

#courses .courses .course-details {
    padding: 15px 15px 0 15px;
}

#courses .courses .course-details i {
    color: #cc9837;
    font-size: 0.9rem;
}

#courses .courses .course-price {
    background-color: #710e1d;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 120px;
}

#courses .registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(#3a070780, #515be980), url('/images//background/background-registration.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#courses .registration .registration-form h3 {
    color: #000000;
    text-align: center;
}

#courses .registration .countdown-date {
    color: #fff;
}

#courses .registration .countdown-date h1 {
    color: #fff;
}

#courses .registration .countdown-date .time {
    display: flex;
    margin-top: 40px;
}

#courses .registration .countdown-date .time .date {
    text-align: center;
    padding: 13px 33px;
    background-color: #ffffff40;
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 #1f26875e;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid #0000002e;
    font-size: 1.1rem;
    font-weight: 600;
}

#courses .registration .registration-form {
    background-color: #f7f6fa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 #1f26875e;
}

#courses .registration .registration-form input {
    border-radius: 5px;
    border: 1px solid #b0b1b3;
    background-color: #fff;
    color: #2d2d2d;
    margin: 15px 0;
    padding: 15px 10px;
    outline: none;
}

#courses .registration .registration-form input::placeholder {
    color: #939393;
    font-size: 0.9rem;
}

#courses .registration .registration-form .btn {
    margin-top: 20px;
}

#courses .registration .registration-form button {
    text-decoration: none;
    width: 100%;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#courses .registration .registration-form button.crimson {
    color: #fff;
    background-color: #710e1d;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
}

#courses .registration .registration-form button.crimson:hover {
    background-color: #cc9837;
}

#features #experts {
    margin-top: 8vw;
    text-align: center;
}

#features #experts p {
    color: #2d2d2d;
}

#features #experts .expert-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features #experts .expert-container .expert-box {
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: rgb(204, 204, 204) 0px 5px 10px 0px;
    padding: 30px 10px;
}

#features #experts .expert-container .expert-box img {
    border-radius: 50%;
}

#features #experts .expert-container .expert-box p {
    font-weight: 400;
    color: #2d2d2d;
}

.brand-icons {
    margin-top: 10px;
}

.brand-icons i {
    border-radius: 5px;
    padding: 10px 13px;
    color: #710e1d;
    border: 1px solid #710e1d;
    cursor: pointer;
    transition: 0.3s ease;
}

.brand-icons i:hover {
    background-color: #710e1d;
    color: #fff;
}

#contact-header {
    background-image: linear-gradient(#0905364d, #05042eb3), url('/images//background/background-contact.png');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#contact-header h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .contact-information {
    width: 350px;
}

#contact .contact-information h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .contact-information p {
    color: #2d2d2d;
    ;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .contact-information h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .contact-information .contact-details div {
    display: flex;
}

#contact .contact-information .contact-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #710e1d;
    margin-right: 20px;
}

#contact .contact-information .contact-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .contact-information .contact-details .brand-icons i {
    margin-right: 8px;
}

#contact .contact-form {
    width: 60%;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgb(204, 204, 204) 0px 5px 10px 0px;
}

#contact .contact-form h4 {
    font-size: 24px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .contact-form p {
    color: #2d2d2d;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .contact-form .contact-form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .contact-form .contact-form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #b0b1b3;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .contact-form .contact-form-col input,
#contact .contact-form .contact-form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #b0b1b3;
    ;
    background-color: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .contact-form button {
    font-size: 0.9rem;
    padding: 13px 25px;
    background-color: #710e1d;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

#contact .contact-form button.crimson {
    background-color: #710e1d;
    color: #fff;
    transition: 0.3s ease;
}

#contact .contact-form button.crimson:hover {
    background-color: #cc9837;
    color: #fff;
}

footer {
    padding: 8vw;
    background-color: #710e1d;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-column {
    padding-bottom: 40px;
}

footer h3 {
    color: #f1f0f5;
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #b0b1b3;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: #f1f0f5;
}

footer p {
    color: #b0b1b3;
}

footer .subscribe-container {
    margin-top: 20px;
}

footer input {
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    color: #7e7c87;
    width: 220px;
    padding: 15px 12px;
    background-color: #fff;
    border: none;
    outline: none;
    color: #000000;
}

footer .subscribe-container button {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

footer .subscribe-container button.aureate {
    color: #fff;
    background-color: #cc9837;
    transition: 0.3s ease;
}

footer .subscribe-container button.aureate:hover {
    color: #710e1d;
    background-color: #fff;
}

footer .copyright-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright-container p {
    color: #fff;
}

footer .copyright-container .brand-icons {
    margin-top: 0px;
}

footer .copyright-container .brand-icons i {
    background-color: #fff;
    color: #710e1d;
    transition: 0.3s ease;
}

footer .copyright-container .brand-icons i:hover {
    background-color: #cc9837;
    color: #fff;
}

@media (max-width: 769px) {
    nav {
        padding: 15px 20px;
        z-index: 999;
    }
    nav img {
        width: 130px;
    }
    #menu-btn {
        cursor: pointer;
        display: initial;
        font-size: 1.6rem;
        color: #710e1d;
    }
    #menu-close-btn {
        display: flex;
        cursor: pointer;
        font-size: 1.6rem;
        color: #710e1d;
        padding: 30px 0 20px 20px;
    }
    nav .navigation-bar ul {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation-bar ul.active {
        right: 0;
    }
    nav .navigation-bar ul li {
        padding: 20px 0 20px 0;
        margin-left: auto;
        margin-right: auto;
    }
    nav .navigation-bar ul li a {
        color: #710e1d;
    }
    #home-header {
        padding-top: 0px;
    }
    #home-header p {
        width: 90%;
    }
    #features {
        padding: 8vw 4vw 0 4vw;
    }
    #course {
        padding: 8vw 4vw 0 4vw;
    }
    #courses .registration {
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
    }
    #courses .registration .countdown-date .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #courses .registration .countdown-date .time .date {
        display: flex;
        justify-content: center;
        width: 90px;
        font-size: 15px;
        text-align: center;
    }
    #experts {
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }
    footer .copyright-container .brand-icons {
        margin-top: 15px;
    }
    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }
    #contact .contact-information {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact .contact-form {
        text-align: center;
        width: 100%;
        padding: 40px 30px;
    }
    #contact .contact-form .contact-form-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    #contact .contact-form .contact-form-row input {
        width: 100%;
    }
}

@media (max-width: 475px) {
    #courses .courses .course-details {
        padding: 15px 15px 40px 15px;
    }
    #courses .registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #courses .registration .countdown-date .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #features .features-box {
        background-color: #FFFFFF;
        text-align: center;
    }
    #courses .registration .countdown-date .time .date {
        display: flex;
        justify-content: center;
        width: 75px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 393px) {
    footer input {
        width: 100%;
        margin-bottom: 20px;
    }
}